
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
  font-family: var(--primary-font);
  background-color: black;
}
:root {
  --font-primary-color: white;
  --light-grey: rgb(209, 209, 209);
  --primary-font: 'Open Sans', sans-serif;
  --secondary-font: 'Roboto', sans-serif;
}
::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar-track {
  background-color: black;
}
::-webkit-scrollbar-thumb {
  background-color: var(--light-grey);
  border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: grey;
}

/* HEADER */
header {
  width: 100%;
  height: 60px;
  color: var(--font-primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  position: sticky;
  inset-block-start: 0px;
  z-index: 5;
}
.header__logo img {
  width: 86px;
  height: 49.135px;
  user-select: none;
  margin-inline-start: 10px;
}
.header__logo a {
  padding: 0;
}
header a {
  color: var(--font-primary-color);
  padding: 15px 7px;
  width: fit-content;
  display: flex;
  justify-content: center;
  transition: .3s;
}
header a:hover {
  text-decoration: underline;
  transform: scale(1.2);
}
.header__nav--links {
  display: flex;
  justify-content: flex-end;
  width: fit-content;
  margin-block-start: 7px;
  margin-inline-end: 10px;
}
header li {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--primary-font);
  font-size: 1.3rem;
  font-weight: 800;
}

/* MAIN ABOUT */
main {
  height: 100%;
  color: var(--font-primary-color);
}
.main__about--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgb(0, 0, 0) 10%, rgba(76,0,8,1) 85%);
}
.main__about--logo img {
  width: 200px;
  margin-block-start: 70px;
  margin-block-end: 10px;
  border-radius: 50%;
  user-select: none;
}
.main__about--info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main__about--info h1 {
  font-size: 2.6rem;
  padding: 20px;
  font-weight: 900;
  letter-spacing: 1px;
  background-color: black;
  border-radius: 20px;
  box-shadow: 5px 5px white;
  margin: 5px;
  width: fit-content;
}
.main__about--description {
  font-size: 1.8rem;
  padding: 15px;
  text-align: center;
  font-weight: 300;
  background-color: black;
  border-radius: 20px;
  margin: 10px 13px;
  margin-block-end: 20px;
  box-shadow: 5px 5px white;
  width: 92vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__about--cv {
  width: 200px;
  height: 45px;
  border-radius: 10px;
  margin-block-start: 14px;
  border: 4px solid rgb(161, 126, 126);
  background-color: rgba(76,0,8,1);
  font-family: var(--primary-font);
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: .3s;
}
.main__about--cv:hover {
  text-decoration: underline;
  transform: scale(1.1);
}

/* MAIN SKILLS */
.main__skills--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(76,0,8,1);
  height: 100%;
}
.title--icon {
  padding: 15px;
  margin-block-start: 55px;
  border-block-end: 5px dashed white;
}
.title--icon img {
  width: 50px;
}
.title {
  margin-block-start: 20px;
  font-size: 2.8rem;
  color: black;
  background-color: white;
  border-radius: 20px;
  border: 6px solid black;
  padding: 10px;
  font-weight: 900;
  letter-spacing: 1px;
}
.main__skills--technologies{
  padding: 15px;
  background-color: white;
  border-radius: 20px;
  margin: 10px 13px;
  border: 6px solid black;
  width: 92vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main__skills--technologies p{
  font-size: 1.8rem;
  text-align: center;
  font-weight: 500;
  color: black;
}
.languages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}
.languages__logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 70px;
  margin: 10px;
}
.languages__logo img {
  width: 60px;
  margin-block-end: 5px;
}
.languages__logo p {
  font-size: 1.3rem;
}
.technologies__icons--container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5px;
}
.technologies--icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  width: 50px;
}
.technologies--icons img {
  width: 50px;
  height: 50px;
  margin-block-end: 5px;
}
.technologies--icons p {
  font-size: 1.3rem;
  font-family: var(--secondary-font);
}
.main__skills--samples {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.samples--tags {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
.samples--tags span {
  color: white;
  font-size: 1.1rem;
  margin: 2px;
  padding: 5px;
  border-radius: 15px;
  background-color: rgba(76,0,8,1);
}
.main__skills--samples a {
  width: 250px;
  height: 265px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
  transition: 0.3s;
  margin: 20px;
  border-radius: 20px;
  background-color: rgb(235, 235, 235);
}
.main__skills--samples a:hover {
  transform: scale(1.06);
  background-color: rgba(224, 125, 125, 0.335);
}
.main__skills--samples a:hover h3 {
  text-decoration: underline black;
 }
.main__skills--samples a img {
  width: 200px;
}
.main__skills--samples a h3 {
  font-size: 1.8rem;
  color: black;
}
.main__skills--samples a p {
  font-size: 1.2rem;
  padding-block-start: 5px;
}

.samples {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#samples--hidden {
  flex-wrap: wrap;
  justify-content: center;
}

#samples--display {
  width: 200px;
  height: 45px;
  border-radius: 10px;
  margin: 0px 10px 10px 10px;
  border: 4px solid rgb(161, 126, 126);
  background-color: rgba(76,0,8,1);
  font-family: var(--primary-font);
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: .3s;
  cursor: pointer;
}
#samples--display:hover {
  text-decoration: underline;
  transform: scale(1.1);
}


.main__skills--comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.comments--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(235, 235, 235);
  padding: 15px;
  width: 250px;
  height: 200px;
  border-radius: 20px;
  margin: 20px;
}
.comment > p {
  font-size: 1.4rem;
}
.comment--header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-end: 10px;
}
.comment--header img {
  border-radius: 50%;
  width: 60px;
}
.comment--header h4 {
  font-size: 1.3rem;
  color: black;
}
.comment--header > p {
  font-size: 1.1rem;
}

/* MAIN CONTACT */
.main__contact--container {
  background-color: rgba(76,0,8,1);
  background: linear-gradient(180deg, rgba(76,0,8,1) 10%, rgb(0, 0, 0) 75%);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__contact--info {
  padding: 15px;
  background-color: white;
  border-radius: 20px;
  border: 6px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 92vw;
  margin: 10px 13px 0px 13px;
}
.main__contact--info a {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  width: 180px;
  padding: 15px;
  transition: .3s;
  z-index: 2;
}
.main__contact--info a:hover {
  background-color: var(--light-grey);
  border-radius: 25px;
  transform: scale(1.1);
}
.main__contact--info a img {
  width: 50px;
  margin-block-end: 5px;
}
.main__contact--info a h2 {
  color: black;
  font-size: 1.5rem;
}
.main__contact--info a:hover h2 {
  text-decoration: underline;
}
.main__contact--info a p {
  color: black;
  font-size: 1.3rem;
}

/* FOOTER */
.footer__info {
  width: 100%;
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}
.footer__info a {
  color: white;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.footer__info a:hover {
  font-size: 1.5rem;
  text-decoration: underline;
}
.footer__info span {
  color: red;
  margin-inline-start: 5px;
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: underline;
}