/* UNIVERSAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html {
  font-size: 62.5%;
  font-family: var(--primary-font);
}
:root {
  --font-primary-color: white;
  --primary-font: 'Open Sans', sans-serif;
  --secondary-font: 'Roboto', sans-serif;
}

/* HEADER */
header {
  width: 100%;
  height: 60px;
  color: var(--font-primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  position: sticky;
  inset-block-start: 0px;
}
.header__logo img {
  width: 86px;
  user-select: none;
}
.header__logo a {
  padding: 0;
}
header a {
  color: var(--font-primary-color);
  padding: 18px 7px;
}
header a:hover {
  text-decoration: underline;
}
header ul {
  display: flex;
  justify-content: space-evenly;
  width: 70vw;
}
header li {
  height: 60px;
  display: flex;
  align-items: center;
  font-family: var(--primary-font);
  font-size: 1.3rem;
  font-weight: 800;
}

/* MAIN ABOUT */
main {
  height: 100%;
  color: var(--font-primary-color);
}
.main__about--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgb(0, 0, 0) 10%, rgba(76,0,8,1) 85%);
}
.main__about--logo {
  width: 200px;
  margin-block-start: 70px;
  margin-block-end: 10px;
  border-radius: 50%;
  user-select: none;
}
.main__about--container h2 {
  font-size: 2.8rem;
  padding: 20px;
  font-weight: 900;
  letter-spacing: 2px;
  background-color: black;
  border-radius: 20px;
  box-shadow: 5px 5px white;
  margin: 5px;
}
.main__about--container p {
  font-size: 1.8rem;
  padding: 15px;
  text-align: center;
  font-weight: 300;
  background-color: black;
  border-radius: 20px;
  margin: 10px 13px;
  margin-block-end: 20px;
  box-shadow: 5px 5px white;
}

/* MAIN SKILLS */
.main__skills--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(76,0,8,1);
  height: 100%;
}
.title--icon {
  padding: 15px;
  margin-block-start: 55px;
  border-block-end: 5px dashed white;
}
.title--icon img {
  width: 50px;
}
.title {
  margin-block-start: 20px;
  font-size: 2.8rem;
  color: black;
  background-color: white;
  border-radius: 20px;
  border: 6px solid black;
  padding: 10px;
  font-weight: 900;
  letter-spacing: 2px;
}
.main__skills--technologies{
  padding: 15px;
  background-color: white;
  border-radius: 20px;
  margin: 10px 13px;
  border: 6px solid black;
}
.main__skills--technologies p{
  font-size: 1.8rem;
  text-align: center;
  font-weight: 500;
  color: black;
}
/* MAIN CONTACT */
.main__contact--container {
  background-color: rgba(76,0,8,1);
  background: linear-gradient(180deg, rgba(76,0,8,1) 10%, rgb(0, 0, 0) 75%);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__contact--info {
  padding: 15px;
  background-color: white;
  border-radius: 20px;
  border: 6px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 92vw;
  margin: 10px 13px;
}
.main__contact--info a {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  width: 180px;
  padding: 15px;
}
.main__contact--info a:hover {
  background-color: rgb(230, 228, 228);
  border-radius: 25px;
  transition: 0.6s;
}
.main__contact--info a img {
  width: 50px;
}
.main__contact--info a h2 {
  color: black;
  font-size: 1.4rem;
}
.main__contact--info a p {
  color: black;
  font-size: 1.1rem;
}